<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Font CSS -->
    <link href="https://fonts.googleapis.com/css?family=Jua|Nanum+Gothic|Righteous|Yeon+Sung&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!-- Fontawesome js -->
    <script src="https://kit.fontawesome.com/5b006f1bf5.js" crossorigin="anonymous"></script>

    <title><%=title%></title>
  </head>
  <body>
    <%-include('includes/header'); %>

    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="5000">
          <img src="images/IndexMain.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="5000">
          <img src="images/CookingMain.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="5000">
          <img src="images/GuestbookMain.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="jumbotron jumbotron-fluid bg-white jumbo mb-0 pb-3">
      <div class="container">
        <h1 class = "font-weight-bold">감성프로그래머 김 득 회</h1>
        <p class="lead text-muted" style="font-style: italic;">There's always better than me but that doesn't I'll give up</p>
        <p class="lead text-muted">성실과 열정으로 남보다 한 걸음 더 내딛을 감성프로그래머 김득회입니다.</p>
      </div>
    </div>

    <section class="page-section mb-3" id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 text-center">
            <div class="mt-5">
              <i class="fas fa-4x fa-code text-primary mb-4"></i>
              <h3 class="h4 mb-2">코드 분석 능력</h3>
              <p class="text-muted mb-0">남들 보다 빠른 코드 이해력</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <i class="fas fa-4x fa-microscope text-primary mb-4"></i>
              <h3 class="h4 mb-2">관찰력</h3>
              <p class="text-muted mb-0">사람을 보는 관찰력이 뛰어남</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <i class="fas fa-4x fa-globe text-primary mb-4"></i>
              <h3 class="h4 mb-2">다양한 프로젝트</h3>
              <p class="text-muted mb-0">여러 프로젝트를 참여하여 많은 경험 소지</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <i class="fas fa-4x fa-users text-primary mb-4"></i>
              <h3 class="h4 mb-2">친화력</h3>
              <p class="text-muted mb-0">뛰어난 친화력으로 공동 과제 참여에 유리</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <div class="container Portfolio mt-5 pt-3">
      <h2 class="text-center text-uppercase font-weight-bold mb-0">Portfolio</h2>
    </div>
        
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star fa-2x"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <div class="album py-1   bg-light bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="images/Linc+.jpg" class="card-img-top" alt="Linc+">
              <div class="card-body">
                <p class="card-text">LINC+에서 주관하는 Capstone Design에 참가하여 "스마트 책꽂이"라는 주제로 프로젝트에 참가</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="#" class="btn btn-primary">자세히 보기</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="images/Hoseo.png" class="card-img-top" alt="Hoseo">
              <div class="card-body">
                <p class="card-text">호서대학교 UIT LAB의 일원으로 해양IT융합기술연구소의 연구원으로 참가하여 프로젝트를 수행</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="#" class="btn btn-primary">자세히 보기</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="images/Android.png" class="card-img-top" alt="Android">
              <div class="card-body">
                <p class="card-text">해양IT융합기술연구소의 연구원 일원으로 어플리케이션 개발을 담당 </p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="#" class="btn btn-primary">자세히 보기</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="album py-5 bg-light bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="images/Linc+.jpg" class="card-img-top" alt="Linc+">
              <div class="card-body">
                <p class="card-text">LINC+에서 주관하는 Capstone Design에 참가하여 "스마트 책꽂이"라는 주제로 프로젝트에 참가</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="#" class="btn btn-primary">자세히 보기</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="images/Hoseo.png" class="card-img-top" alt="Hoseo">
              <div class="card-body">
                <p class="card-text">호서대학교 UIT LAB의 일원으로 해양IT융합기술연구소의 연구원으로 참가하여 프로젝트를 수행</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="#" class="btn btn-primary">자세히 보기</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="images/Android.png" class="card-img-top" alt="Android">
              <div class="card-body">
                <p class="card-text">해양IT융합기술연구소의 연구원 일원으로 어플리케이션 개발을 담당 </p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="#" class="btn btn-primary">자세히 보기</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>